@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
body{
    background: white;

}

 
 .titulo{
    font-family:'Rowdies';
    font-size: 60px;
    text-align: center;
    color: #263547;
    align-items: center;
    
    }
    .titulodos{
        font-family:'Rowdies';
        font-size: 33px;
        text-align: center;
        color: #263547;
        align-items: center;
        }
 h2{
    color: rgb(36, 87, 70);
    font-size: 27px;
 }

 .caraj{
    background-color: #e8f1f8;
            height: 37vh;
            margin: 1%;
        
    } 
    .cara{
        background-color: #e8f1f8;
                height: 100vh;
                float: left;
            
        } 

 .fotoperfil{
    float: left;
    margin: 5%;
    
 }   
