@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
body{
   background: white;
   margin: 0%;    
}
   .titulo{
     font-family:'Rowdies';
      font-size: 80px;
      color: #263547;
      position: relative;
      left: 370px;
      top: -270px;
   }
.titulodos{        
   font-family:'Rowdies';
   font-size: 50px;
   color: #263547;
   position: relative;
   left: 600px;
   top: -320px;
}
.fotoperfil{   
   position: relative;
   left: 60px;
   top: 26px;
   width: 260px;
   height: 260px;
      
}   
.lineab{
   background-color: #e8f1f8;
   height: 35vh;
   width: -400vh;
   position: relative;
   left: 0px;
   top: 0px;    
} 
.lineab2{
   background-color: #e8f1f8;
   height: 300vh;
   width: 400px;
   float: left;
   text-align: center;

} 
.texto{
   color: rgb(36, 87, 70);
   font-size: 40px; 
   
   position: relative;
   left: 40px;
   top: 30px;
}



